/* @import → load Tailwind.
@custom-variant → khai báo custom variants.
@theme → tokens (màu, font, spacing, …).
.dark { … } → override token.
@keyframes → tách riêng, dễ tái sử dụng.
@layer base → style nền, reset, typography.
@layer utilities → helper nhỏ, tái dùng.
@layer components → style riêng cho component. */

@import 'tailwindcss';

/* Custom variant cho dark mode */
@custom-variant dark (&:is(.dark *));

/* Global design tokens */
@theme {
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --color-primary: oklch(44.14% 0.0898 245.13);
  --color-primary-lighter: oklch(0.6233 0.0715 241.48);

  --color-red-52c52: #e52c25;
  --color-teal-117766: #117766;
  --color-sky-3b5998: #3b5998;
  --color-neutral-d0d0d0: #d0d0d0;
  --color-gray-26: rgba(0, 0, 0, 0.26);
  --color-gray-f2: #f2f2f2;
  --color-gray-f9: #f9f9f9;
  --color-gray-555: #555;
  --color-gray-ccc: #ccc;

  --fill-sky-3b5998: #3b5998;
  --fill-amber-7b472c: #7b472c;

  --text-normal: 0.8125rem;
  --shadow-input: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2);
  --shadow-flag: rgb(238, 77, 45) 0px 0px 0px 0.5px;
  --shadow-spread: 0 0 0 2px #fff, 0 0 0 4px #000;
  --shadow-top: 0 -2px 10px 0px rgba(0, 0, 0, 0.04);
}

/* Dark mode override */
.dark {
  -color-primary: oklch(0.8148 0.2095 156.77);
  --color-primary-lighter: oklch(0.8802 0.2095 156.77);
}

/* Animation keyframes */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Base styles */
@layer base {
  html {
    height: 100%;
    line-height: 1.2;
  }

  body {
    font-family: var(--font-primary);
    font-weight: 400;
  }
}

@layer utilities {
  /* Dùng cho utility class nhỏ, tái sử dụng nhiều, ví dụ .text-balance, .scrollbar-hide, .grid-cols-sidebar…
  Các class ở đây thường ít style, một nhiệm vụ duy nhất.
  Nằm cùng layer với các class bg-*, p-*, text-* của Tailwind. */
  .button {
    @apply bg-primary hover:bg-primary-lighter w-full px-2 py-4 text-center text-sm text-white uppercase;
  }
}

@layer components {
  .popoverContent[data-state='open'] {
    transform-origin: var(--radix-popover-content-transform-origin);
    animation: scaleIn 0.25s ease-out;
  }

  .popoverContent[data-state='closed'] {
    transform-origin: var(--radix-popover-content-transform-origin);
    animation: scaleOut 0.2s ease-in forwards;
  }

  .hoverCardContent[data-state='open'] {
    transform-origin: var(--radix-hover-card-content-transform-origin);
    animation: scaleIn 0.25s ease-out;
  }

  .hoverCardContent[data-state='closed'] {
    transform-origin: var(--radix-hover-card-content-transform-origin);
    animation: scaleOut 0.2s ease-in forwards;
  }
}
