/* @import → load Tailwind.
@custom-variant → khai báo custom variants.
@theme → tokens (màu, font, spacing, …).
.dark { … } → override token.
@keyframes → tách riêng, dễ tái sử dụng.
@layer base → style nền, reset, typography.
@layer utilities → helper nhỏ, tái dùng.
@layer components → style riêng cho component. */

@import 'tailwindcss';

/* Custom variant cho dark mode */
@custom-variant dark (&:is(.dark *));

/* Global design tokens */
@theme {
  --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --color-primary: oklch(44.14% 0.0898 245.13);
  --color-primary-lighter: oklch(0.6233 0.0715 241.48);
}

/* Dark mode override */
.dark {
  -color-primary: oklch(0.8148 0.2095 156.77);
  --color-primary-lighter: oklch(0.8802 0.2095 156.77);
}

/* Animation keyframes */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Base styles */
@layer base {
  html {
    height: 100%;
    line-height: 1.2;
  }

  body {
    font-family: var(--font-primary);
    font-weight: 400;
  }
}

@layer utilities {
  /* Dùng cho utility class nhỏ, tái sử dụng nhiều, ví dụ .text-balance, .scrollbar-hide, .grid-cols-sidebar…
  Các class ở đây thường ít style, một nhiệm vụ duy nhất.
  Nằm cùng layer với các class bg-*, p-*, text-* của Tailwind. */
  .button {
    @apply bg-primary hover:bg-primary-lighter w-full px-2 py-4 text-center text-sm text-white uppercase;
  }
}

@layer components {
  .popoverContent[data-state='open'] {
    transform-origin: var(--radix-popover-content-transform-origin);
    animation: scaleIn 0.25s ease-out;
  }

  .popoverContent[data-state='closed'] {
    transform-origin: var(--radix-popover-content-transform-origin);
    animation: scaleOut 0.2s ease-in forwards;
  }
}
